streamlit
pypdf
python-dotenv
openai
langchain
langchain-community
chromadb
bs4
tiktoken
python-docx
docx2txt
unstructured[local-inference]
pandas
tesseract
pytesseract
paddleocr
xlrd
openpyxl
opencv-python
numpy
pymupdf
langchain-google-genai
google-generativeai
nest-asyncio
